input {
  border: none;
  background-color: var(--alt-background);
  color: var(--alt-text);
}

button {
  border: none;
  background-color: var(--alt-background);
  color: var(--alt-text);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-accent);
}