#navbar-anchor {
  flex: 0 0 100%;
  padding: var(--default-padding);
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  border-radius: 0rem;
}

.navbar-container {
  flex: 1 1 100%;
  padding: var(--default-padding);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.navbar-container .title {
  font-size: 2.6rem;
}

#content-anchor {
  height: 90%;
  padding: var(--default-padding);
  flex: 1 1 100%;
  z-index: 0;
  display: flex;
  row-gap: 1rem;
}

.content-container {
  flex: 1 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  row-gap: 1rem;
}

.group-container {
  flex: 1 1 100%;
  flex-flow: row nowrap;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.group-text {
  padding: var(--default-padding);
  font-size: 2rem;
  border-left: var(--little-boy-blue) solid 1px;
  border-top: var(--little-boy-blue) solid 1px;
  border-bottom: var(--little-boy-blue) solid 1px;
  border-bottom-left-radius: var(--default-border-radius);
  border-top-left-radius: var(--default-border-radius);
}

.group-input {
  flex: 2 1;
  padding: var(--default-padding);
  width: fit-content;
  font-size: 1.9rem;
  border: var(--little-boy-blue) solid 1px;
  /* background: linear-gradient(var(--little-boy-blue), var(--little-boy-blue)) center bottom 0.5rem / calc(100% - 1.5rem) 1px no-repeat; */
}

.group-input:focus-visible {
  /* background: linear-gradient(0.25turn, var(--little-boy-blue), var(--little-boy-blue)) center bottom 0.5rem / calc(100% - 1.5rem) 0.1rem no-repeat !important; */
}

#main-button {
  flex: 1 1;
  padding: var(--default-padding);
  margin-left: auto;
  font-size: 2rem;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  border-right: var(--little-boy-blue) solid 1px;
  border-top: var(--little-boy-blue) solid 1px;
  border-bottom: var(--little-boy-blue) solid 1px;
  border-bottom-right-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
  background-color: var(--primary-background);
}

#main-button:hover {
  color: var(--alt-text);
  background-color: var(--little-boy-blue);
}

.output-anchor {
  width: 100% !important;
  flex: 1 1 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  /* align-self: stretch; */
}

.output {
  height: 100%;
  flex: 1 1 100%;
  table-layout: auto;
  border-spacing: 0rem;
  padding: var(--default-padding);
}

.row {
}

.cell {
  height: 10%;
  border-bottom: solid 0.07rem var(--dead-rich-black-FOGRA-29);
  border-right: solid 0.07rem var(--dead-rich-black-FOGRA-29);
  border-radius: 0rem;
  width: 10%;
  vertical-align: top;
}

.cell-content {
  flex: 1 1;
  height: 100% !important;
  width: 100%;
  padding: calc(var(--default-padding) / 2);
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.row:first-child .cell .cell-content {
  justify-content: flex-start;
}

.cell:first-child .cell-content {
  justify-content: end;
  align-content: center;
}

.row:first-child .cell {
  height: 2%;
}

.row:last-child .cell {
  border-bottom: none;
}

.cell:first-child {
  width: 2%;
}

.cell:last-child {
  border-right: none;
}

.class {
  flex: 1 1 100%;
  height: min-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: calc(var(--default-padding));
  margin: calc(var(--default-padding) / 2);
  color: var(--alt-text);
  border-radius: var(--default-border-radius);
  row-gap: calc(var(--default-padding) / 2);
}

.class[type="Lecture"] {
  background-color: var(--sinopia);
}

.class[type="Laboratory"] {
  background-color: var(--little-boy-blue);
}

.class[type="Practice"] {
  background-color: var(--celadon-green);
}

.class[type="Other"] {
  background-color: var(--little-boy-blue);
}

.class-name {
  flex: 1 1 100%;
  font-size: 1.1rem;
}

.cluster-number {
  flex: 1 1 100%;
  font-size: 0.8rem;
}

.date-day {
  font-size: 1.3rem;
}

.date-date {
  font-size: 0.8rem;
}

.start {
}

.end {
  font-size: 0.8rem;
  text-align: end;
}
